
<p>You can bind our <code>NgbPagination</code> component with slicing the data list</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#FII</th>
    <th scope="col">Preço</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of countries">
    <th scope="row">{{ country.id }}</th>
    <td>
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
      {{ country.name }}
    </td>
    <td>{{ country.area | number}}</td>
    <td>{{ country.population | number }}</td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" (pageChange)="refreshCountries()">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" (ngModelChange)="refreshCountries()">
    <option >2 items per page</option>
  </select>
</div>
